:root {
  --green: rgba(38, 182, 57, 0.8);
  --dgreen: rgba(33, 57, 36, 0.8);
}

a {
  color: var(--green);
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  color: var(--dgreen);
}

.app {
  width: 80vw;
  margin: 30px auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid black;
}
